.volume-control {
	display: flex;
	max-width: 90px;
}

.MuiSlider-root {
	margin: auto 0 0 12px;
}

@media only screen and (max-width: 480px) {
	.volume-control {
		max-width: 72%;
	}
	.MuiSlider-root {
		margin: auto 0 0 4px;
	}
}
