.interval-modal {
	position: absolute;
}

.interval-modal:focus {
	outline: none;
}

.interval-modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000e7;
	z-index: 0;
	border: none;
	outline: none;
}

.interval-modal .modal-container {
	display: flex;
}

.interval-modal .modal-content {
	width: 35%;
	margin: auto;
}

.interval-modal h1 {
	color: #fff;
	font-family: Roboto, Ubunto, sans-serif;
	margin: 16px 0;
}

.interval-modal p {
	color: #999999;
	font-family: Roboto, Ubunto, sans-serif;
	margin: 16px 0;
}

.interval-modal .modal-input {
	background-color: #a5a5a586;
	margin-bottom: 8px;
	width: 100%;
}

.interval-modal .modal-input input {
	padding: 23px 12px 8px;
}

.interval-modal .modal-input label {
	color: #fff;
}

.interval-modal .modal-button {
	margin-top: 8px;
	width: 100%;
	padding: 10px;
}

.interval-modal .modal-close-icon {
	display: flex;
	justify-content: flex-end;
}

.interval-modal .modal-close-icon svg {
	color: #fff;
	cursor: pointer;
	width: 24px;
	height: 24px;
}

.interval-modal svg:hover {
	cursor: pointer;
	background-color: #53535375;
	border-radius: 100%;
}

.interval-modal .modal-previous-page-icon {
	display: flex;
	width: 10%;
}

.interval-modal .modal-previous-page-icon svg {
	margin: auto;
	color: #fff;
	width: 24px;
	height: 24px;
}

.interval-modal .invisible-div {
	width: 10%;
}
