#nav-bar {
	margin-top: 32px;
}
#nav-bar h1 {
	color: var(--title-color);
}

#nav-bar nav {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

#nav-bar li {
	list-style: none;
	font-weight: bold;
}
