#clock {
	display: flex;
	justify-content: center;
}

#clock .container {
	background-color: #ffffff;
	border-radius: 5%;
	border: 1px solid #4d606e;
	padding: 16px;
	margin: 8px;
	width: 230px;
}

#clock .time {
	background-color: #d3d4d8;
	border: 1px solid #4d606e;
	margin: 10px 10px 15px;
}

#clock h1 {
	font-size: 36px;
	font-family: "Ubuntu", sans-serif;
}

#clock button {
	font-weight: bold;
	font-size: 18px;
	margin: 3px;
	padding: 5px;
	background: none;
	border: none;
	color: var(--text-color);

	border-bottom: 1px solid #4d606e;
}

#clock button:hover {
	cursor: pointer;
	border-bottom: 1px solid #455de2;
	color: #455de2;
}

#clock button:focus {
	outline: none;
}
