#clock {
	display: flex;
	justify-content: center;
}

#clock h1 {
	background-color: #d3d4d8;
	border: 1px solid #4d606e;
	margin: 10px;
	font-family: "Quantico", sans-serif;
}

#clock button {
	font-weight: bold;
	font-size: 1rem;
	margin: 3px;
	padding: 5px;
	background: none;
	border: none;
	color: var(--text-color);

	border-bottom: 1px solid #4d606e;
}

#clock button:hover {
	cursor: pointer;
	border-bottom: 1px solid #4ecca3;
	color: #4ecca3;
}

#clock button:focus {
	outline: none;
}

#clock .container {
	background-color: #ffffff;
	border-radius: 5%;
	border: 1px solid #4d606e;
	padding: 16px;
	margin: 8px;
}
