#settings {
	margin-top: 8px;
}

#settings svg {
	width: 24px;
	height: 24px;
	border-radius: 100%;
	cursor: pointer;
	display: flex;
	margin-top: 8px;
}

#settings svg:hover {
	background-color: #fff;
}

#settings .moreIcon {
	margin-right: auto;
}
