#settings {
	margin-top: 8px;
	text-align: left;
	display: flexbox;
}

#settings svg {
	width: 24px;
	height: 24px;
	border-radius: 100%;
	cursor: pointer;
	margin: 8px 0 0 0;
}

#settings svg:hover {
	background-color: #fff;
}

#settings .more-icon {
	margin-right: auto;
	display: flex;
	justify-self: flex-start;
}
